.footer {
  height: 120px;
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 100px;
  /* position: fixed; */
  /* position: sticky; */
  bottom: 0px;
}

.socialMedia svg {
  color: white;
  margin: 15px;
  font-size: 50px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 70px;
  }
}
