.home {
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #e9d35b;
  height: 50px;
}

.about .prompt {
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills1 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills1 h2 {
  color: crimson;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.div-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  flex-wrap: wrap;
}
.div-skills .skills {
  margin: 4rem;
  transform: scale(2.5);
}
.div-skills .skills:hover {
  color: #33b5e5;
  cursor: pointer;
}
.div-skills .name {
  font-size: 0.5rem;
}
@media (max-width: 850px) {
  .about h3 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
